{% extends 'articles/index.html' %}

<body>
{% block content %}
  
<!-- <div class="container"> -->
  <div class="row">
    <!-- <div class="col-sm-12 col-md-8 "> -->
      {% for article in articles %}
      <div class="card" style="width: 18rem;">
        <img src="{{ article.image.url }}" class="card-img-top" alt="..." style="height: 220px; width: auto;">
        <div class="card-body">
          <h5 class="card-title">{{ article.title}}</h5>
          <p class="card-text">{{article.content}}</p>
          <p class="card-text">{{ article.date_pub|date:"d F Y" }}</p>
      
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      {% endfor %}
    <!-- </div> -->
  </div>
<!-- </div> -->

{% endblock %}
</body>
</html>
